{% extends "base.html" %}

{% block title %}なんとかメーター{% endblock title %}

{% block extrahead %}
<style>
table {
    margin-top: 8px;
}
#container {
    width:700px;
    margin-left:auto;
    margin-right:auto;
}
#col_left {
    margin-top:20px;
    width:200px;
    float:left;
}

#col_right {
    margin-top:20px;
    width:500px;
    float:left;
}
#footer {
    width:100%;
    clear:left;
}
.line {
    border-left: 2px
    solid #DCDCDC;
    height:400px;
}
</style>
{% endblock %}

{% block content %}
<h3 class="page-header">なんとかメーター</h3>
<div id="toolbar">
    <form id="changelist-search" action="" method="get">
<div>
<input type="text" size="40" name="{{ search_var }}" value="{{ cl.query }}" id="searchbar" />
<input type="submit" value="検索" />

<div id="container">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th><a href="">ホーム</a></th>
          <th><a href="../mypage/">マイページ</a></th>
          <th><a href="../session/">共読</a></th>
          <th><a href="../favorite/">お気に入りの感想</a></th>
          <th><a href="../match/">相性</a></th>
          <th><a href="../other/">その他</a></th>
        </tr>
      </thead>
    </table>
<div class="line" id="col_left">column_left</div>
<div class="line" id="col_right">column_right</div>
<div id="footer">footer</div>
</div>
<script type="text/javascript">document.getElementById("searchbar").focus();</script>
{% endblock content %}